th {
  padding: 5px 30px;
  color: #ea554c;
}

td {
  text-align: center;
}

label {
  padding-right: 7px;
  font-weight: bold;
}

.shortInput {
  width: 70px;
}

input {
  margin-right: 10px;
}

footer {
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #ea554c;
  color: #fff;
}

input[type="submit"] {
  padding: 5px 15px;
  color: #ea554c;
  border: #ea554c 1px solid;
  background-color: #fff;
}

input[type="submit"]:hover {
  padding: 5px 15px;
  color: #fff;
  border: #ea554c 1px solid;
  background-color: #ea554c;
}

input[type="text"] {
  border: #ea554c 1px solid;
}

input[type="text"]:focus {
  outline: none !important;
  border: #ea554c 1px solid;
}

input[type="number"] {
  border: #ea554c 1px solid;
}

input[type="number"]:focus {
  outline: none !important;
  border: #ea554c 1px solid;
}

input[type="date"] {
  border: #ea554c 1px solid;
}

input[type="date"]:focus {
  outline: none !important;
  border: #ea554c 1px solid;
}

select {
  border: #ea554c 1px solid;
  padding: 4px 0px;
}

select:focus {
  outline: none !important;
  border: #ea554c 1px solid;
  padding: 4px 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  padding: 5px 15px;
  color: #ea554c;
  border: #ea554c 1px solid;
  background-color: #fff;
}

button:hover {
  padding: 5px 15px;
  color: #fff;
  border: #ea554c 1px solid;
  background-color: #ea554c;
}
